html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica,Arial,sans-serif;
    background:#edc7e1;
    font-size: 1.6rem;
}
button {
    cursor:pointer;
}
button:disabled {
    cursor:default;
}